.background {
  background-image: url(/img/background-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: $bt-tablet) {
    background-image: url(../img/background-why.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: $bt-desktop) {
    background-image: url(/img/background-why.png);
    background-position: top;
  }
}
