.background {
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -1;

  @media screen and (min-width: $bt-tablet) {
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width: $bt-desktop) {
    background-position: top;
  }
}
