:root {
  --color--primary--black: #011c44;
}

:root {
  --color--primary--blue: #2b7fff;
}

:root {
  --color--white: #ffffff;
}

:root {
  --color--background: #011c44;
}

:root {
  --color--data: #747272;
}

:root {
  --color--modal: #011f4a;
}
