.visually-hidden {
  position: absolute;
  left: -10000;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1216px;

  @media screen and (min-width: $bt-desktop) {
    margin: 0 auto;
  }
}
