.footer {
  position: relative;
  padding: 32px 0;
  height: 278px;
  display: flex;
  align-items: center;
  background-color: var(--color--background);

  &::before {
    position: absolute;
    bottom: 0px;
    right: 0;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    content: "";
    width: 278px;
    height: 213px;
    background-image: url(../img/pexels-photo-8101532-PhotoRoom.svg);
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 186px;
  }

  &__copyrait {
    right: 80px;
  }

  &__logo {
    align-items: flex-start;
  }

  &__li-img {
    height: 42px;
    width: 42px;
    display: flex;
    gap: 24px;
  }

  &__data {
    margin: 16px 0px;
    color: var(--color--data);
  }
}
