.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color--background);
  background-image: url(/img/footer-background.png);

  @media screen and (min-width: $bt-desktop) {
    position: relative;
    padding: 32px 0;
    height: 278px;
  }

  &__img{
    display: none;

    @media screen and (min-width: $bt-desktop) {
      display: inline;
      position: absolute;
      bottom: 0px;
      right: 0;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      content: "";
      width: 278px;
      height: 213px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 32px 91px 66px 91px;

    @media screen and (min-width: $bt-between-position) {
      justify-content: space-between;
      flex-direction: row;
      gap: 50px;
    }

    @media screen and (min-width: $bt-desktop) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bt-between-position) {
      gap: 140px;
      flex-direction: row;
    }

    @media screen and (min-width: $bt-desktop) {
      flex-basis: 50%;
      gap: 186px;
      flex-direction: row;
    }
  }

  &__contact {
    display: none;

    @media screen and (min-width: $bt-between-position) {
      display: flex;
      width: 100px;
    }

    @media screen and (min-width: $bt-desktop) {
      display: flex;
    }
  }

  &__logo {
    margin-bottom: 42px;

    @media screen and (min-width: $bt-between-position) {
      align-items: flex-start;
      margin-bottom: 60px;
    }

    @media screen and (min-width: $bt-desktop) {
      align-items: flex-start;
      margin-bottom: 60px;
    }
  }

  &__ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    @media screen and (min-width: $bt-between-position) {
      align-items: flex-start;
      width: 160px;
    }

    @media screen and (min-width: $bt-desktop) {
      align-items: flex-start;
    }
  }

  &__copyrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 16px;

    @media screen and (min-width: $bt-between-position) {
      right: 80px;
    }

    @media screen and (min-width: $bt-desktop) {
      right: 80px;
    }
  }

  &__contact-icon {
    order: 2;
    display: flex;
    gap: 24px;

    @media screen and (min-width: $bt-between-position) {
      height: 42px;
      width: 42px;
      display: flex;
      justify-content: center;
      gap: 24px;
    }

    @media screen and (min-width: $bt-desktop) {
      height: 42px;
      width: 42px;
      display: flex;
      justify-content: center;
      gap: 24px;
    }
  }

  &__data {
    order: 3;
    color: var(--color--data);

    @media screen and (min-width: $bt-between-position) {
      margin: 16px 0px;
    }

    @media screen and (min-width: $bt-desktop) {
      margin: 16px 0px;
    }
  }

  &__data-text{
    font-family: "Roboto";
  }
}
