.header {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0;
  z-index: 2;

  @media screen and (min-width: $bt-tablet) {
  }

  &__section {
    backdrop-filter: none;
    background: none;

    @media screen and (min-width: $bt-tablet) {
      backdrop-filter: none;
      background: none;
    }

    @media screen and (min-width: $bt-between-position) {
      backdrop-filter: none;
      background: none;
    }

    @media screen and (min-width: $bt-desktop) {
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.25);
    }
  }

  &__container {
    padding: 32px 99px;
    margin: 0 30px;
  width: 90%;
    position: relative;
    right: 100px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $bt-tablet) {
      align-items: center;
      right: 70px;
    }

    @media screen and (min-width: $bt-desktop) {
      justify-content: space-around;
      align-items: center;
    }
  }

  &__nav {
    display: none;

    @media screen and (min-width: $bt-tablet) {
      display: flex;
      gap: 30px;
      flex-grow: 1;
      justify-content: center;
    }

    @media screen and (min-width: $bt-desktop) {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__logo {
    display: none;

    &__logo-section {
      width: 32px;
      height: 32px;
    }

    @media screen and (min-width: $bt-tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 35px;
    }
  }

  &__burger {
    display: block;
    background-color: transparent;

    @media screen and (min-width: $bt-tablet) {
      display: none;
    }
  }
}
