.header {
  position: absolute;
  height: 106px;
  width: 100%;
  left: 1px;
  right: -1px;
  top: 0;
  bottom: 0;
  z-index: 2;

  @media screen and (max-width: $bt-phone) {
    max-width: 324px;
    max-height: 30px;
  }

  &__section {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
  }

  &__container {
    padding: 32px 99px;
    min-width: 1239px;
    position: relative;
    right: 80px;
    display: flex;
    justify-content: space-around;
  }

  &__nav {
    display: none;

    @media screen and (min-width: $bt-desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 56px;
    }
  }

  &__logo {
    display: none;

    &__logo-section {
      width: 32px;
      height: 32px;
    }

    @media screen and (min-width: $bt-desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 35px;
    }
  }

  &__burger {
    display: block;
    background-color: transparent;

    @media screen and (min-width: $bt-desktop) {
      display: none;
    }
  }
}
