.hero-section {
  padding: 122px 0;
  background-image: url(../img/mobile-hero-section.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $bt-between-position) {
    background-image: url(../img/backgraund-wave.png);
  }

  @media screen and (min-width: $bt-desktop) {
    padding: 122px 0;
    height: 658px;
    position: relative;
    background-image: url(../img/backgraund-wave.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/img/mobile-hero-section2@.png);

    @media screen and (min-width: $bt-tablet) {
      background-image: url(../img/background-wave@2x.jpg);
    }
  }

  &__clinic-text {
    font-family: "roboto", sans-serif;
    text-align: center;
    width: 133px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;

    @media screen and (min-width: $bt-desktop) {
      width: 199px;
      position: relative;
      left: 10px;
      font-family: "roboto", sans-serif;
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 16px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    text-align: -webkit-center;

    @media screen and (min-width: $bt-desktop) {
      display: contents;
      text-align: left;
    }
  }

  &__text {
    max-width: 319px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bt-desktop) {
      max-width: 529px;
      align-items: baseline;
    }
  }

  &__h1 {
    width: 301px;
    height: 46px;
    font-size: 50px;
    line-height: 46px;
    text-align: center;

    @media screen and (min-width: $bt-tablet) {
      width: 330px;
    }

    @media screen and (min-width: $bt-desktop) {
      width: 530px;
      height: 228px;
      line-height: 114px;
      font-size: 140px;
      text-align: left;
    }
  }

  &__free-text {
    width: 210px;
    position: relative;
    left: 5px;
    text-align: center;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
}
