.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  background-color: var(--color--modal);
  border-radius: 32px;
}

.modal-call {
  height: auto;
  position: relative;
  left: 100px;
  width: 435px;
  text-align: center;
  color: var(--color--white);
}

.modal-text {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  line-height: 25.78px;
  font-family: "roboto", sans-serif;
  left: 180px;
  text-align: center;
  width: 274px;
  padding: 20px 0 16px 0;
  color: var(--color--white);
}

.modal-btn-close {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 40px;
  border-radius: 10px;
}

/*form*/
.modal-form {
  display: block;
  padding: 50px;
}

.form-field {
  position: relative;
  margin-bottom: 32px;
}

.form-label {
  position: absolute;
  top: 16px;
  left: 42px;
}

.form-input {
  position: relative;
  left: 130px;
  padding: 16px 42px;
  width: 100%;
  max-width: 310px;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color--data);
  border-radius: 30px;
  background-color: transparent;
  color: var(--color--white);
}

.form-input:focus {
  border-color: var(--color--primary--blue);
  outline: none;
  background-color: var(--color--data);
}

.form-input::placeholder {
  color: var(--color--white);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus::placeholder {
  color: var(--color--data);
}

.form-button {
  position: relative;
  left: 10px;
  width: 281px;
  display: block;
  margin: 0 auto;
}

.form-terms {
  position: relative;
  left: 10px;
  margin: 8px auto;
  color: var(--color--data);
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color--data);
  text-decoration: underline;
  text-underline-offset: 2px;
}
