.procedures-section {
  margin: 130px 0;

  &__slider{
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__container{
    overflow: hidden;
    margin-bottom: 32px;
  }

  &__button{
    display: none;

    @media screen and (min-width: $bt-tablet) {
      display: flex;
    }
  }

  &__swiper-wrapper{
    margin: 0;
  }
}
