.reincarnate-section {
  @media screen and (min-width: $bt-between-position) {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  @media screen and (min-width: $bt-desktop) {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  &__title {
    display: inline;

    @media screen and (min-width: $bt-desktop) {
      width: auto;
      margin-right: 32px;
      height: 460px;
      font-size: 22px;
      gap: 40px;
      display: flex;
      flex-direction: column;
    }

    &__text {
      font-family: "roboto", sans-serif;
      max-width: 320px;
      font-size: 18px;

      @media screen and (min-width: $bt-desktop) {
        font-family: "roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
      }
    }
  }
}

.reincarnate__img {
  display: none;

  @media screen and (min-width: $bt-between-position) {
    width: auto;
    height: 695px;
    display: flex;
  }

  @media screen and (min-width: $bt-desktop) {
    width: auto;
    height: 695px;
    display: flex;
  }
}

.img-1 {
  width: 270px;
  position: relative;
  align-self: flex-start;
  border-radius: 50%;

  @media screen and (min-width: $bt-desktop) {
    width: 300px;
    position: relative;
    align-self: flex-start;
    border-radius: 50%;
  }
}

.img-2 {
  width: 270px;
  position: relative;
  right: 120px;
  bottom: 50px;
  align-self: flex-end;
  border-radius: 50%;

  @media screen and (min-width: $bt-desktop) {
    width: 300px;
    position: relative;
    right: 50px;
    bottom: 20px;
    border-radius: 50%;
  }
}

.star {
  @media screen and (min-width: $bt-between-position) {
    position: absolute;
  }

  @media screen and (min-width: $bt-desktop) {
    display: block;
    position: absolute;
    top: 390px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star-blue {
  display: none;

  @media screen and (min-width: $bt-tablet) {
    display: inline;
    position: relative;
    width: 16px;
    height: 16px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @media screen and (min-width: $bt-between-position) {
    display: inline;
    position: relative;
    width: 40px;
    height: 40px;
    left: 850px;
  }

  @media screen and (min-width: $bt-tablet) {
    display: none;
  }

  @media screen and (min-width: $bt-desktop) {
    display: inline;
    position: relative;
    width: 40px;
    height: 40px;
    left: 1050px;
    top: 560px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.star-gray {
  display: none;

  @media screen and (min-width: $bt-tablet) {
    display: inline;
    position: relative;
    width: 16px;
    height: 16px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @media screen and (min-width: $bt-between-position) {
    display: inline;
    position: relative;
    top: 200px;
    left: 760px;
  }

  @media screen and (min-width: $bt-tablet) {
    display: none;
  }

  @media screen and (min-width: $bt-desktop) {
    display: inline;
    position: relative;
    width: 16px;
    height: 16px;
    left: 940px;
    top: 800px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.star-dark_blue {
  height: 40px;
  position: relative;
  top: 20px;
  left: 350px;
  transform: rotate(90deg);

  @media screen and (min-width: $bt-between-position) {
    width: 64px;
    height: 64px;
    left: 470px;
    top: 320px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @media screen and (min-width: $bt-tablet) {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    left: 600px;
  }

  @media screen and (min-width: $bt-desktop) {
    width: 64px;
    height: 64px;
    left: 600px;
    top: 950px;
    bottom: 1461.89px;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
