.reincarnate-section {
  &__title {
    display: inline;

    @media screen and (min-width: $bt-desktop) {
      width: 709px;
      height: 460px;
      font-size: 22px;
      gap: 40px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__text {
      font-family: "roboto", sans-serif;
      max-width: 320px;
      font-size: 18px;

      @media screen and (min-width: $bt-desktop) {
        font-family: "roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
      }
    }
  }

  @media screen and (min-width: $bt-desktop) {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
}

.reincarnate__img {
  display: none;

  @media screen and (min-width: $bt-desktop) {
    width: auto;
    height: 695px;
    display: flex;
  }
}

.img-1 {
  width: auto;
  height: auto;
  align-self: flex-start;
  border-radius: 50%;
}

.img-2 {
  width: auto;
  height: auto;
  align-self: flex-end;
  border-radius: 50%;
}

.star {
  display: none;

  @media screen and (min-width: $bt-desktop) {
    display: block;
    position: absolute;
    top: 390px;
    animation: star 2s linear alternate infinite;
  }
}

@keyframes star {
  0% {
    left: 0%;
  }
  50% {
    left: 5%;
  }
  100% {
    left: 10%;
  }
}

.star-blue {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 1400px;
  right: 1200px;
  top: 630px;
  bottom: 1821.89px;
  transform: rotate(30deg);
}

.star-gray {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 1380px;
  right: 1223.02px;
  top: 932.68px;
  bottom: 1602.21px;
  transform: rotate(-22.91deg);
}

.star-dark_blue {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 684px;
  left: 283px;
  transform: rotate(30deg);

  @media screen and (min-width: $bt-desktop) {
    position: relative;
    width: 64px;
    height: 64px;
    left: 1100px;
    right: 1580px;
    top: 1025px;
    bottom: 1461.89px;
    transform: rotate(-30deg);
  }
}
